@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap");

/* Allgemeine Stile */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #7e7e7e;
  overflow: hidden; /* Deaktiviert Scrollen für die gesamte Seite */
  height: 100vh; /* Vollbildhöhe */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a1dfb1;
}

main::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

/* default styling */

/*!Buttons*/

.default-btn {
  background-color: #ff8800;
  color: white;
  padding: 14px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
  width: 100%;
  transition: color 0.3s ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.default-btn:hover {
  background-color: #ff8800;
}

/*!Searchbar*/

/* Container für die Searchbar */

.searchbar {
  text-align: center;
  margin-top: 1em;
}

/* Stil für das Input-Feld */
.searchbar input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: small;
  border: 1px solid #73ba86;
  box-shadow: 0 0 8px rgba(129, 206, 151, 0.3);
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

/* Button zum Reset (X) */
.searchbar button:first-child {
  background-color: transparent;
  border: none;
  color: #888;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.searchbar button:first-child:hover {
  color: #73ba86;
}

/* Button zum Absenden (Suche) */
.searchbar button:last-child {
  background-color: #73ba86;
  color: white;
  border: none;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: small;
  cursor: pointer;
  margin-left: 1rem;
  transition: background-color 0.3s ease;
}

.searchbar button:last-child:hover {
  background-color: #439457;
}

/*!Testlinks*/

.test-links {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*!Logo*/

.logo {
  letter-spacing: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*!Category*/

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.categories-box {
  background-color: #a8cbbf;
  padding: 25px 28px;
  border: 1px solid #15775b;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/* Phone-Rahmen */

.phone-frame {
  width: 400px; /* Breite des Rahmens, z.B. iPhone */
  height: 800px; /* Höhe des Rahmens */
  margin: 0 auto; /* Zentriere den Rahmen */
  border: 7px solid #000; /* Rahmen */
  border-radius: 55px; /* Abgerundete Ecken */
  overflow: hidden; /* Inhalt, der aus dem Rahmen herausragt, ausblenden */
  position: relative; /* Wichtiger Bezugspunkt für Positionierung */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: #7ac08b;
  background-image: url("src/assets/img/app-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}

/* Layout mit Grid */
.app-layout {
  display: grid;
  grid-template-areas:
    "header"
    "content  "
    "footer ";
  grid-template-rows: auto 1fr auto;
  height: 100%; /* Vollbildhöhe */
  max-width: 500px;
}

/* Header */
.header {
  grid-area: header;
  color: rgb(255, 255, 255);
  background-color: none;
  padding: 2.5em;
  text-align: center;
  font-size: 0.5rem;
  background-color: #428053;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Schlagschatten nach unten */
}

/* Main Content */
.content {
  grid-area: content;
  /* padding: 2rem; */
  background-color: none;
  overflow-y: auto;
  align-items: center;
  overflow-y: auto; /* Scrollen innerhalb des Phone-Frames aktivieren */
}

.content-margin {
  margin: 2em 2em;
}

/* First Page css */

.first-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: small;
}

.first-page p {
  margin-top: 1em;
}
.first-page span {
  font-weight: bold;
}

.fp-headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: small;
  margin-top: 0;
}

.fp-headline p {
  margin-top: 1em;
}

.fp-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.fp-signup-btn {
  background-color: #ff8800;
  color: white;
  padding: 15px 30px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3em;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.fp-signup-btn:hover {
  background-color: #ffb330;
}

.fp-guest-btn {
  background-color: #ff8800;
  color: white;
  padding: 15px 30px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.1em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.fp-guest-btn:hover {
  background-color: #ffb330;
}

/* Login Page css */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
  text-align: center;
}

.login span {
  font-weight: bold;
}
.login p {
  margin-top: 1em;
}

.login-form {
  margin-top: 1em;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 0.5em 0;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*signup page css */

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: small;
}

.signup h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.signup-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* Welcome Page css */

.welcome button {
  margin-top: 3em;
}

.welcome-btn {
  background-color: #73ba86;
  color: white;
  padding: 14px 30px;
  margin: 2rem 0 0 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.welcome img {
  width: 100%;
  margin-top: 1em;
}
/*Reminder Page css */

.r-headline p {
  margin-top: 0.5em;
}

.r-headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: small;
}

.r-headline h2 {
  color: #ff8800;
  width: 100%;
}

.time {
  margin: 1em 0;
  padding: 3em 5em;
  border: 1px solid #15775b;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: white;
  background-image: url("src/assets/img/random-player-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.choose-days {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  background-color: #15775b5c;
  border: 1px solid #15775b;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-top: 1em;
  padding: 0 1em;
}

.choose-days div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: small;
  background-color: none;
  border: solid 1px #ffffff;
  border-radius: 50%;
  margin: 3em 0;
  padding: 0;
  width: 4em;
  height: 2.7em;
}

.choose-days div:hover {
  border: solid 1px #ff8800;
  cursor: pointer;
}

.save {
  margin-top: 1em;
}

.choose-days button {
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  background: none;
}

.choose-days button:hover {
  color: #ffffff;
}

.no-thanks {
  text-align: center;
  margin-top: 0.5em;
}

.no-thanks button {
  background: none;
  border: none;
  color: #ffa100;
  cursor: pointer;
}

.no-thanks button:hover {
  text-decoration: underline;
}

/* Profile Page css */

.profile {
  text-align: center;
}

/* Home Page css */

.home {
  margin-bottom: 10em;
}

.highlight-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: small;
  gap: 2em;
}

.home-headline h2 {
  margin-bottom: 1em;
}

.home-headline p {
  margin-bottom: 1em;
}

.yoga-section h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.meditation-section h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.card-text-align-hp {
  text-align: center;
  align-content: center;
  color: white;
  font-size: small;
}

/* Yoga Page css */

.zen-search-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.1em;
}

.yoga h1 {
  margin-bottom: 1em;
  text-align: center;
}

.yoga p {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.yoga-categories {
  margin-bottom: 1em;
}

.yoga-saerchbar {
  display: flex;
  gap: 0.5em; /* Abstand zwischen Input und Button */
  width: 100%;
}

.yoga-input {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;

  flex: 1; /* Füllt den verfügbaren Platz aus */
  padding: 1rem 0.5rem;
  font-size: small;
  border: 1px solid #73ba86;
  box-shadow: 0 0 8px rgba(129, 206, 151, 0.3);
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
  /* margin: 0; Entfernt unnötige Margins */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 1em 0;
}

.input-btn {
  padding: 0.5rem 1.3rem;
  font-size: small;
  border: 1px solid;
  background: #ffffff;
  color: #73ba86;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 8px rgba(129, 206, 151, 0.3);
  margin: 1em 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.random-player {
  margin: 1em 0;
  padding: 2em 2em;
  width: 100%;
  border: 1px solid #15775b;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: white;
  margin-bottom: 2em;
  background-image: url("src/assets/img/random-player-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.yoga-videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin-bottom: 5em;
}

.yoga-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 0.5em 0;
}

.yoga-cards h2 {
  font-size: small;
  color: white;
  text-align: center;
  align-content: center;
}

/* Meditation Page css */

.meditation {
  text-align: center;
  margin-bottom: 1em;
}

.meditation h1 {
  margin-bottom: 1em;
}

.meditation p {
  margin-top: 2em;
  margin-bottom: 1em;
}

.meditation-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 0.5em 0;
}

.meditation-cards h2 {
  font-size: medium;
  color: white;
  text-align: center;
  align-content: center;
}

.card-section {
  margin-bottom: 7em;
}
/*Yoga Detail Page css */

.yoga-dp-page {
  margin-bottom: 7em;
}

.yoga-dp-info h1 {
  margin: 1em 0;
  font-size: 1.5rem;
}

.difficulty {
  margin: 1em 0;
  font-size: medium;
  font-style: italic;
}

.description {
  margin: 1em 0;
  font-size: medium;
}

.back-fav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.back {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.back img {
  display: block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  width: 30px;
  height: 30px;
}

.fav-btn {
  background-color: none;
  color: #ffffff;
  padding: 6px 7px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 1em;
  transition: color 0.3s ease;
}

/*Meditation Detail Page css */

.meditation-dp {
  margin-bottom: 7em;
}

.back-fav-meditation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 6em;
}

.play-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #428053;
  color: white;
  padding: 14px 30px;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  width: 100%;
  transition: color 0.3s ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin-top: 2em;
}

.play-btn button {
  margin-right: 2em;
}

/* Music Page css */

.music {
  margin-bottom: 1em;
  text-align: center;
}

.music h1 {
  margin-bottom: 1em;
}

.music p {
  margin-bottom: 2em;
}

.music-list {
  margin-top: 2em;
}

.music-saerchbar {
  display: flex;
  gap: 0.5em;
  width: 100%;
  margin-top: 1em;
}

/* Allgemeines Styling für die Navbar */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

li img {
  width: 20px;
  height: 20px;
  margin-bottom: 0.5rem;
}

li a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

/* Navbar am unteren Rand */

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 2.7rem;
}

.nav-links img {
  width: 30px;
  height: 30px;
}

.navbar-bottom ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.navbar-bottom li {
  margin: 0 1rem;
}

.navbar-bottom a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar-bottom a:hover {
  text-decoration: none;
  color: rgb(88, 144, 23);
}

.nav-icon {
  display: flex;
  flex-direction: row;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  grid-area: footer;
  background-color: #428053;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1); /* Schlagschatten nach oben */
  position: absolute; /* Innerhalb des Phone-Rahmens fixieren */
  color: white;
  text-align: center;
  padding: 2rem;
  text-align: center;
  z-index: 1000; /* Sicherstellen, dass sie immer sichtbar ist */
}

/*Components*/

img {
  max-width: 100%;
  display: block;
}

.card-container {
  width: 90%; /* 90% der Breite des übergeordneten Containers */
  height: auto; /* Dynamische Höhe basierend auf dem Inhalt */
  margin: 1rem auto; /* Zentrieren innerhalb des Containers */
}

.card-list {
  width: 90%;
  max-width: 400px;
}

.card {
  width: 100%; /* Nimmt die gesamte Breite des Containers ein */
  max-width: 90%; /* Maximal 90% der Breite des `phone-frame` */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optische Anpassung */
  padding: 1rem; /* Innenabstand */
  margin: 1rem auto; /* Abstand zum nächsten Element */
  border-radius: 10px; /* Abgerundete Ecken */
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.25;
    padding-right: 1rem;
    text-decoration: none;
    color: inherit;
    will-change: transform;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.icon-button {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 3px 8px 0 rgba(#000, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;

  svg {
    width: 1em;
    height: 1em;
  }
  &:hover,
  &:focus {
    background-color: #5aaa58;
    color: #fff;
  }
}

.card-footer {
  margin-top: 1.25rem;
  border-top: 1px solid #ddd;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-meta {
  display: flex;
  align-items: center;
  color: #787878;
  &:first-child:after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentcolor;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  svg {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
  }
}

/* Media Queries für mobile Geräte (z.B. iPhone 12 Plus) */

@media (max-width: 932px) {
  /* Anpassen der App-Layout für kleine Bildschirme */

  .logo {
    font-size: 1rem; /* Kleinere Schriftgröße für das Logo */
  }
  .app-layout {
    grid-template-columns: 1fr; /* Nur eine Spalte, keine Sidebar */
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  /* Content-Layout */
  .content {
    padding: 1rem;
    font-size: 14px; /* Kleinere Schrift für den Content */
  }

  /* Navbar am unteren Rand */
  .navbar-bottom {
    position: relative;
    padding: 1rem;
    text-align: center;
    z-index: 1000; /* Immer sichtbar */
  }

  .navbar-bottom ul {
    padding: 0;
    gap: 1rem; /* Abstand zwischen den Elementen */
  }

  .navbar-bottom li {
    margin: 0.5rem 0; /* Weniger Abstand zwischen den Links */
  }

  .navbar-bottom a {
    font-size: 1rem; /* Kleinere Schrift für Links */
  }

  /* Footer-Größe anpassen */
  .footer {
    padding: 0.8rem; /* Weniger Padding im Footer */
  }
}
/*
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Sans";
    src: url('./assets/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;3
}

html {
    font-family: "Sans";
}

*/


.react-video-player > video{
  object-fit: cover;
}